@page "/"

<PageTitle>Home</PageTitle>

<h1>Library Application</h1>

<p>Welcome to our library, you can log in by one of the debug login buttons on the right or alternatively (if
    configured) via google authentication.
</p>

<p>
    Administrators have the rights to add new books and add individual book copies to the books.
</p>

<p>
    All users can borrow and return books, book can be borrowed by clicking on a book row in the books page data grid
    and then on the cart icon of the specific book copy that is available.
</p>

<p>
    Users can see their borrowed books and action history in the User page, they can also return a book by clicking the
    arrow icon in the book row.
</p>

<p>
    Api documentation is available in the github repository readme.md file.
</p>
